<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.support.dao.GoodsTransMapper">

    <!--插入-->
    <insert id="insert" parameterType="com.bootdo.support.entity.SupportGoodsTrans">
        insert into safeguard_goodstrans(
            id,
            goodsinfo_id,
            from_goodsstorehouse_id,
            to_goodsstorehouse_id,
            transnum,
            transdate,
            remarks,
            create_by,
            create_date
        ) values (
            #{id,jdbcType=VARCHAR},
            #{goodsinfo_id,jdbcType=VARCHAR},
            #{from_goodsstorehouse_id,jdbcType=VARCHAR},
            #{to_goodsstorehouse_id,jdbcType=VARCHAR},
            #{transnum,jdbcType=INTEGER},
            #{transdate,jdbcType=DATE},
            #{remarks,jdbcType=VARCHAR},
            #{create_by,jdbcType=VARCHAR},
            #{create_date,jdbcType=DATE}
        )
    </insert>
    <!--查询-->
    <select id="get" resultType="java.util.Map" parameterType="com.bootdo.support.dto.SupportGoodsTransDTO">
          select hc.*,(@rowNum:=@rowNum+1) RN,
          (select g.goodsname from safeguard_goodsinfo g where hc.goodsinfo_id=g.id) goodsname,
          (select gs.name from safeguard_goodsstorehouse gs where hc.from_goodsstorehouse_id=gs.id) fromstorehousename,
          (select gs.name from safeguard_goodsstorehouse gs where hc.to_goodsstorehouse_id=gs.id) tostorehousename
          from safeguard_goodstrans hc,(select (@rowNum:=0)) b
          <where>
			1=1
			<if test="id != null ">
	            AND  HC.id = #{id}
	        </if>
			<if test="goodsinfo_id != null  and goodsinfo_id != '' ">
	            AND HC.goodsinfo_id = #{goodsinfo_id}
	        </if>
			<if test="from_goodsstorehouse_id != null and from_goodsstorehouse_id != '' ">
                AND HC.from_goodsstorehouse_id = #{from_goodsstorehouse_id}
	        </if>
			<if test="to_goodsstorehouse_id != null and to_goodsstorehouse_id != '' ">
	            AND HC.to_goodsstorehouse_id = #{to_goodsstorehouse_id}
	        </if>
			<if test="transnum != null and transnum != '' ">
	             AND HC.transnum = #{transnum}
	        </if>
			<if test="transdate != null and transdate != '' ">
	            AND  HC.transdate = #{transdate}
	        </if>
			<if test="remarks != null and remarks != '' ">
	            AND  HC.remarks = #{remarks}
	        </if>
			<if test="create_by != null and create_by != '' ">
	            AND HC.create_by like concat('%',#{create_by},'%')
	        </if>
			<if test="create_date != null and create_date != '' ">
	            AND  HC.create_date = #{create_date}
	        </if>
			<if test="update_by != null and update_by != '' ">
				AND HC.update_by like concat('%',#{update_by},'%')
			</if>
			<if test="update_date != null and update_date != '' ">
				AND  HC.update_date = #{update_date}
			</if>
        </where>
        order by HC.create_date desc
    </select>

    <!--更新-->
    <update id="update" parameterType="com.bootdo.support.entity.SupportGoodsTrans">
        update safeguard_goodstrans set
            goodsinfo_id=#{goodsinfo_id,jdbcType=VARCHAR},
            from_goodsstorehouse_id=#{from_goodsstorehouse_id,jdbcType=VARCHAR},
            to_goodsstorehouse_id=#{to_goodsstorehouse_id,jdbcType=VARCHAR},
            transnum=#{transnum,jdbcType=INTEGER},
            transdate=#{transdate,jdbcType=DATE},
            remarks=#{remarks,jdbcType=VARCHAR},
            update_by=#{update_by,jdbcType=VARCHAR},
            update_date=#{update_date,jdbcType=DATE}
            where id=#{id,jdbcType=VARCHAR}
    </update>

    <!--物理删除-->
    <delete id="delete">
        delete from safeguard_goodstrans where id=#{id}
    </delete>

    <update id="logicalDelete">
        update safeguard_goodstrans set enabled='0' where id=#{id}
    </update>

    <select id="getUniqueById" resultType="java.util.Map">
        select * from safeguard_goodstrans where id=#{id}
    </select>

</mapper>