<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.support.dao.KnowledgeProtectDao">

	<select id="get" resultType="com.bootdo.support.dto.KnowledgeProtectDO">
		select `id`,`knowledge_info_Id`,`respiratory`,`eye`,`body`,`hand`,`other`,`create_date`,`remarks` from safeguard_knowledge_protect where id = #{value}
	</select>
	
	<select id="getByKnowledgeInfoId" resultType="com.bootdo.support.dto.KnowledgeProtectDO">
		select `id`,`knowledge_info_Id`,`respiratory`,`eye`,`body`,`hand`,`other`,`create_date`,`remarks` from safeguard_knowledge_protect where knowledge_info_Id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.support.dto.KnowledgeProtectDO">
		select `id`,`knowledge_info_Id`,`respiratory`,`eye`,`body`,`hand`,`other`,`create_date`,`remarks` from safeguard_knowledge_protect
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="knowledgeInfoId != null and knowledgeInfoId != ''"> and knowledge_info_Id = #{knowledgeInfoId} </if>
		  		  <if test="respiratory != null and respiratory != ''"> and respiratory = #{respiratory} </if>
		  		  <if test="eye != null and eye != ''"> and eye = #{eye} </if>
		  		  <if test="body != null and body != ''"> and body = #{body} </if>
		  		  <if test="hand != null and hand != ''"> and hand = #{hand} </if>
		  		  <if test="other != null and other != ''"> and other = #{other} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from safeguard_knowledge_protect
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="knowledgeInfoId != null and knowledgeInfoId != ''"> and knowledge_info_Id = #{knowledgeInfoId} </if>
		  		  <if test="respiratory != null and respiratory != ''"> and respiratory = #{respiratory} </if>
		  		  <if test="eye != null and eye != ''"> and eye = #{eye} </if>
		  		  <if test="body != null and body != ''"> and body = #{body} </if>
		  		  <if test="hand != null and hand != ''"> and hand = #{hand} </if>
		  		  <if test="other != null and other != ''"> and other = #{other} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.support.dto.KnowledgeProtectDO">
		insert into safeguard_knowledge_protect
		(
			`id`, 
			`knowledge_info_Id`, 
			`respiratory`, 
			`eye`, 
			`body`, 
			`hand`, 
			`other`, 
			`create_date`, 
			`remarks`
		)
		values
		(
			#{id}, 
			#{knowledgeInfoId}, 
			#{respiratory}, 
			#{eye}, 
			#{body}, 
			#{hand}, 
			#{other}, 
			#{createDate}, 
			#{remarks}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.support.dto.KnowledgeProtectDO">
		update safeguard_knowledge_protect 
		<set>
			<if test="knowledgeInfoId != null">`knowledge_info_Id` = #{knowledgeInfoId}, </if>
			<if test="respiratory != null">`respiratory` = #{respiratory}, </if>
			<if test="eye != null">`eye` = #{eye}, </if>
			<if test="body != null">`body` = #{body}, </if>
			<if test="hand != null">`hand` = #{hand}, </if>
			<if test="other != null">`other` = #{other}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from safeguard_knowledge_protect where id = #{value}
	</delete>
	
	<delete id="deleteByKnowledgeInfoId">
		delete from safeguard_knowledge_protect where knowledge_info_Id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from safeguard_knowledge_protect where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>